

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



body{
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:groove
 
}
.display{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration:wavy;
}
button{
    margin-left: -30px;
}
*{
    font-family: "Pacifico", cursive;
}