


body{
    height: 100vh;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style:groove;
    background:gray; 
    flex-wrap: wrap-reverse;

}
.display{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration:wavy;
}

.weather{
    width: 250px;
}

button{
    margin-left: -37px;
    border-radius: 5px;
}
#cityInput{
    border-radius: 5px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
img{
   
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;

}
#section2{
  display:flex ;
  text-align: center;
  border-radius: 13px;
  justify-content: center;
  align-items:center ;
  width: 270px;
  border-style: double;
  background: linear-gradient(gray,white);
}
