.search-bar{
    display: flex;
    text-align: left;
    align-items: start;
    justify-content: center;
    padding: 10px;
    background-color: yellow;
    
}
#typearea{
    border-radius: 7px;
    height: 40px;
}
#search-btn{
    border-radius: 7px;
    width: 30px;
    padding: 5px;
   
}
body{
    height: 100vh;
}
.display{
    display: flex;
    align-items: start;
    background-color: yellow;
    margin-top: 5px;
    justify-content: center;
    align-items: start;

}
#description{
    display: flex;
    align-items: center;
}
button{
    background-color: black;
    margin-left: -32px;
    height: 45px;

}
#search-btn.hover{
    background-color: white;
}
button.click{
    background-color: beige;
}
#description{
    display: flex;
    
}
